# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# JSON files
*.json text eol=lf

# Lock files
*.lock text eol=lf

# Markdown
*.md text eol=lf

# TOML
*.toml text eol=lf

# Excel files (binary)
*.xlsx binary
